

/* ------------------------------INTRO-------------------------------------------- */

@font-face {
	font-family: 'Intro Book Alt';
	src: url('../fonts/Intro/Intro-Book-Alt.eot');
	src: local('../fonts/Intro/Intro Book Alt'), local('Intro-Book-Alt'),
		url('../fonts/Intro/Intro-Book-Alt.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Intro/Intro-Book-Alt.woff') format('woff'),
		url('../fonts/Intro/Intro-Book-Alt.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Intro';
	src: url('../fonts/Intro/Intro-Regular.eot');
	src: local('../fonts/Intro/Intro Regular'), local('Intro-Regular'),
		url('../fonts/Intro/Intro-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Intro/Intro-Regular.woff') format('woff'),
		url('../fonts/Intro/Intro-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Intro Regular Caps';
	src: url('../fonts/Intro/Intro-Regular-Caps.eot');
	src: local('../fonts/Intro/Intro Regular Caps'), local('Intro-Regular-Caps'),
		url('../fonts/Intro/Intro-Regular-Caps.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Intro/Intro-Regular-Caps.woff') format('woff'),
		url('../fonts/Intro/Intro-Regular-Caps.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Intro Light Caps';
	src: url('../fonts/Intro/Intro-Light-Caps.eot');
	src: local('../fonts/Intro/Intro Light Caps'), local('Intro-Light-Caps'),
		url('../fonts/Intro/Intro-Light-Caps.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Intro/Intro-Light-Caps.woff') format('woff'),
		url('../fonts/Intro/Intro-Light-Caps.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Intro Black Inline Caps';
	src: url('../fonts/Intro/Intro-Black-Inline-Caps.eot');
	src: local('../fonts/Intro/Intro Black Inline Caps'), local('Intro-Black-Inline-Caps'),
		url('../fonts/Intro/Intro-Black-Inline-Caps.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Intro/Intro-Black-Inline-Caps.woff') format('woff'),
		url('../fonts/Intro/Intro-Black-Inline-Caps.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Intro Black Alt';
	src: url('../fonts/Intro/Intro-Black-Alt.eot');
	src: local('../fonts/Intro/Intro Black Alt'), local('Intro-Black-Alt'),
		url('../fonts/Intro/Intro-Black-Alt.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Intro/Intro-Black-Alt.woff') format('woff'),
		url('../fonts/Intro/Intro-Black-Alt.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Intro Bold';
	src: url('../fonts/Intro/Intro-Bold-Italic.eot');
	src: local('../fonts/Intro/Intro Bold Italic'), local('Intro-Bold-Italic'),
		url('../fonts/Intro/Intro-Bold-Italic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Intro/Intro-Bold-Italic.woff') format('woff'),
		url('../fonts/Intro/Intro-Bold-Italic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Intro';
	src: url('../fonts/Intro/Intro-Light.eot');
	src: local('../fonts/Intro/Intro Light'), local('Intro-Light'),
		url('../fonts/Intro/Intro-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Intro/Intro-Light.woff') format('woff'),
		url('../fonts/Intro/Intro-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Intro Black Inline';
	src: url('../fonts/Intro/Intro-Black-Inline.eot');
	src: local('../fonts/Intro/Intro Black Inline'), local('Intro-Black-Inline'),
		url('../fonts/Intro/Intro-Black-Inline.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Intro/Intro-Black-Inline.woff') format('woff'),
		url('../fonts/Intro/Intro-Black-Inline.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Intro Thin Caps';
	src: url('../fonts/Intro/Intro-Thin-Caps.eot');
	src: local('../fonts/Intro/Intro Thin Caps'), local('Intro-Thin-Caps'),
		url('../fonts/Intro/Intro-Thin-Caps.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Intro/Intro-Thin-Caps.woff') format('woff'),
		url('../fonts/Intro/Intro-Thin-Caps.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Intro Light Alt';
	src: url('../fonts/Intro/Intro-Light-Alt.eot');
	src: local('../fonts/Intro/Intro Light Alt'), local('Intro-Light-Alt'),
		url('../fonts/Intro/Intro-Light-Alt.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Intro/Intro-Light-Alt.woff') format('woff'),
		url('../fonts/Intro/Intro-Light-Alt.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Intro';
	src: url('../fonts/Intro/Intro-Bold.eot');
	src: local('../fonts/Intro/Intro Bold'), local('Intro-Bold'),
		url('../fonts/Intro/Intro-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Intro/Intro-Bold.woff') format('woff'),
		url('../fonts/Intro/Intro-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Intro';
	src: url('../fonts/Intro/Intro-Black.eot');
	src: local('../fonts/Intro/Intro Black'), local('Intro-Black'),
		url('../fonts/Intro/Intro-Black.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Intro/Intro-Black.woff') format('woff'),
		url('../fonts/Intro/Intro-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Intro Book';
	src: url('../fonts/Intro/Intro-Book-Italic.eot');
	src: local('../fonts/Intro/Intro Book Italic'), local('Intro-Book-Italic'),
		url('../fonts/Intro/Intro-Book-Italic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Intro/Intro-Book-Italic.woff') format('woff'),
		url('../fonts/Intro/Intro-Book-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Intro Black';
	src: url('../fonts/Intro/Intro-Black-Italic.eot');
	src: local('../fonts/Intro/Intro Black Italic'), local('Intro-Black-Italic'),
		url('../fonts/Intro/Intro-Black-Italic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Intro/Intro-Black-Italic.woff') format('woff'),
		url('../fonts/Intro/Intro-Black-Italic.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'Intro Book';
	src: url('../fonts/Intro/Intro-Book.eot');
	src: local('../fonts/Intro/Intro Book'), local('Intro-Book'),
		url('../fonts/Intro/Intro-Book.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Intro/Intro-Book.woff') format('woff'),
		url('../fonts/Intro/Intro-Book.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Intro Thin Alt';
	src: url('../fonts/Intro/Intro-Thin-Alt.eot');
	src: local('../fonts/Intro/Intro Thin Alt'), local('Intro-Thin-Alt'),
		url('../fonts/Intro/Intro-Thin-Alt.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Intro/Intro-Thin-Alt.woff') format('woff'),
		url('../fonts/Intro/Intro-Thin-Alt.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Intro Book Caps';
	src: url('../fonts/Intro/Intro-Book-Caps.eot');
	src: local('../fonts/Intro/Intro Book Caps'), local('Intro-Book-Caps'),
		url('../fonts/Intro/Intro-Book-Caps.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Intro/Intro-Book-Caps.woff') format('woff'),
		url('../fonts/Intro/Intro-Book-Caps.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Intro Black Caps';
	src: url('../fonts/Intro/Intro-Black-Caps.eot');
	src: local('../fonts/Intro/Intro Black Caps'), local('Intro-Black-Caps'),
		url('../fonts/Intro/Intro-Black-Caps.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Intro/Intro-Black-Caps.woff') format('woff'),
		url('../fonts/Intro/Intro-Black-Caps.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Intro Bold Caps';
	src: url('../fonts/Intro/Intro-Bold-Caps.eot');
	src: local('../fonts/Intro/Intro Bold Caps'), local('Intro-Bold-Caps'),
		url('../fonts/Intro/Intro-Bold-Caps.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Intro/Intro-Bold-Caps.woff') format('woff'),
		url('../fonts/Intro/Intro-Bold-Caps.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Intro Thin';
	src: url('../fonts/Intro/Intro-Thin-Italic.eot');
	src: local('../fonts/Intro/Intro Thin Italic'), local('Intro-Thin-Italic'),
		url('../fonts/Intro/Intro-Thin-Italic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Intro/Intro-Thin-Italic.woff') format('woff'),
		url('../fonts/Intro/Intro-Thin-Italic.ttf') format('truetype');
	font-weight: 100;
	font-style: italic;
}

@font-face {
	font-family: 'Intro';
	src: url('../fonts/Intro/Intro-Thin.eot');
	src: local('../fonts/Intro/Intro Thin'), local('Intro-Thin'),
		url('../fonts/Intro/Intro-Thin.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Intro/Intro-Thin.woff') format('woff'),
		url('../fonts/Intro/Intro-Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Intro Bold Alt';
	src: url('../fonts/Intro/Intro-Bold-Alt.eot');
	src: local('../fonts/Intro/Intro Bold Alt'), local('Intro-Bold-Alt'),
		url('../fonts/Intro/Intro-Bold-Alt.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Intro/Intro-Bold-Alt.woff') format('woff'),
		url('../fonts/Intro/Intro-Bold-Alt.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Intro Regular Alt';
	src: url('../fonts/Intro/Intro-Regular-Alt.eot');
	src: local('../fonts/Intro/Intro Regular Alt'), local('Intro-Regular-Alt'),
		url('../fonts/Intro/Intro-Regular-Alt.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Intro/Intro-Regular-Alt.woff') format('woff'),
		url('../fonts/Intro/Intro-Regular-Alt.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Intro Light';
	src: url('../fonts/Intro/Intro-Light-Italic.eot');
	src: local('../fonts/Intro/Intro Light Italic'), local('Intro-Light-Italic'),
		url('../fonts/Intro/Intro-Light-Italic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Intro/Intro-Light-Italic.woff') format('woff'),
		url('../fonts/Intro/Intro-Light-Italic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Intro Regular';
	src: url('../fonts/Intro/Intro-Regular-Italic.eot');
	src: local('../fonts/Intro/Intro Regular Italic'), local('Intro-Regular-Italic'),
		url('../fonts/Intro/Intro-Regular-Italic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Intro/Intro-Regular-Italic.woff') format('woff'),
		url('../fonts/Intro/Intro-Regular-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}


  /* ---------------------DIN PRO----------------------------------------- */


@font-face {
	font-family: 'DIN Pro';
	src: url('../fonts/DINPro/DINPro-Medium.eot');
	src: local('../fonts/DINPro/../fonts/DINPro/DIN Pro Medium'), local('DINPro-Medium'),
		url('../fonts/DINPro/../fonts/DINPro/DINPro-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/DINPro/../fonts/DINPro/DINPro-Medium.woff') format('woff'),
		url('../fonts/DINPro/../fonts/DINPro/DINPro-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'DIN Pro';
	src: url('../fonts/DINPro/DINPro-BlackItalic.eot');
	src: local('../fonts/DINPro/DIN Pro Black Italic'), local('DINPro-BlackItalic'),
		url('../fonts/DINPro/DINPro-BlackItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/DINPro/DINPro-BlackItalic.woff') format('woff'),
		url('../fonts/DINPro/DINPro-BlackItalic.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'DIN Pro Cond';
	src: url('../fonts/DINPro/DINPro-CondensedBlackItalic.eot');
	src: local('../fonts/DINPro/DIN Pro Condensed Black Italic'), local('DINPro-CondensedBlackItalic'),
		url('../fonts/DINPro/DINPro-CondensedBlackItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/DINPro/DINPro-CondensedBlackItalic.woff') format('woff'),
		url('../fonts/DINPro/DINPro-CondensedBlackItalic.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'DIN Pro Cond';
	src: url('../fonts/DINPro/../fonts/DINPro/DINPro-CondensedMedium.eot');
	src: local('../fonts/DINPro/../fonts/DINPro/DIN Pro Condensed Medium'), local('DINPro-CondensedMedium'),
		url('../fonts/DINPro/../fonts/DINPro/DINPro-CondensedMedium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/DINPro/../fonts/DINPro/DINPro-CondensedMedium.woff') format('woff'),
		url('../fonts/DINPro/../fonts/DINPro/DINPro-CondensedMedium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'DIN Pro';
	src: url('../fonts/DINPro/DINPro-MediumItalic.eot');
	src: local('../fonts/DINPro/DIN Pro Medium Italic'), local('DINPro-MediumItalic'),
		url('../fonts/DINPro/DINPro-MediumItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/DINPro/DINPro-MediumItalic.woff') format('woff'),
		url('../fonts/DINPro/DINPro-MediumItalic.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'DIN Pro';
	src: url('../fonts/DINPro/DINPro-Bold.eot');
	src: local('../fonts/DINPro/DIN Pro Bold'), local('DINPro-Bold'),
		url('../fonts/DINPro/DINPro-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/DINPro/DINPro-Bold.woff') format('woff'),
		url('../fonts/DINPro/DINPro-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'DIN Pro';
	src: url('../fonts/DINPro/DINPro-Light.eot');
	src: local('../fonts/DINPro/DIN Pro Light'), local('DINPro-Light'),
		url('../fonts/DINPro/DINPro-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/DINPro/DINPro-Light.woff') format('woff'),
		url('../fonts/DINPro/DINPro-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'DIN Pro Cond';
	src: url('../fonts/DINPro/DINPro-CondensedMediumItalic.eot');
	src: local('../fonts/DINPro/DIN Pro Condensed Medium Italic'), local('DINPro-CondensedMediumItalic'),
		url('../fonts/DINPro/DINPro-CondensedMediumItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/DINPro/DINPro-CondensedMediumItalic.woff') format('woff'),
		url('../fonts/DINPro/DINPro-CondensedMediumItalic.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'DIN Pro';
	src: url('../fonts/DINPro/DINPro-Italic.eot');
	src: local('../fonts/DINPro/DIN Pro Italic'), local('DINPro-Italic'),
		url('../fonts/DINPro/DINPro-Italic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/DINPro/DINPro-Italic.woff') format('woff'),
		url('../fonts/DINPro/DINPro-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'DIN Pro';
	src: url('../fonts/DINPro/DINPro.eot');
	src: local('../fonts/DINPro/DIN Pro'), local('DINPro'),
		url('../fonts/DINPro/DINPro.eot?#iefix') format('embedded-opentype'),
		url('../fonts/DINPro/DINPro.woff') format('woff'),
		url('../fonts/DINPro/DINPro.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'DIN Pro Cond';
	src: url('../fonts/DINPro/DINPro-CondensedBlack.eot');
	src: local('../fonts/DINPro/DIN Pro Condensed Black'), local('DINPro-CondensedBlack'),
		url('../fonts/DINPro/DINPro-CondensedBlack.eot?#iefix') format('embedded-opentype'),
		url('../fonts/DINPro/DINPro-CondensedBlack.woff') format('woff'),
		url('../fonts/DINPro/DINPro-CondensedBlack.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'DIN Pro Cond';
	src: url('../fonts/DINPro/DINPro-CondensedBold.eot');
	src: local('../fonts/DINPro/DIN Pro Condensed Bold'), local('DINPro-CondensedBold'),
		url('../fonts/DINPro/DINPro-CondensedBold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/DINPro/DINPro-CondensedBold.woff') format('woff'),
		url('../fonts/DINPro/DINPro-CondensedBold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'DIN Pro';
	src: url('../fonts/DINPro/DINPro-Black.eot');
	src: local('../fonts/DINPro/DIN Pro Black'), local('DINPro-Black'),
		url('../fonts/DINPro/DINPro-Black.eot?#iefix') format('embedded-opentype'),
		url('../fonts/DINPro/DINPro-Black.woff') format('woff'),
		url('../fonts/DINPro/DINPro-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'DIN Pro';
	src: url('../fonts/DINPro/DINPro-LightItalic.eot');
	src: local('../fonts/DINPro/DIN Pro Light Italic'), local('DINPro-LightItalic'),
		url('../fonts/DINPro/DINPro-LightItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/DINPro/DINPro-LightItalic.woff') format('woff'),
		url('../fonts/DINPro/DINPro-LightItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'DIN Pro Cond';
	src: url('../fonts/DINPro/DINPro-CondensedBoldItalic.eot');
	src: local('../fonts/DINPro/DIN Pro Condensed Bold Italic'), local('DINPro-CondensedBoldItalic'),
		url('../fonts/DINPro/DINPro-CondensedBoldItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/DINPro/DINPro-CondensedBoldItalic.woff') format('woff'),
		url('../fonts/DINPro/DINPro-CondensedBoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'DIN Pro Cond';
	src: url('../fonts/DINPro/DINPro-CondensedRegular.eot');
	src: local('../fonts/DINPro/DIN Pro Condensed Regular'), local('DINPro-CondensedRegular'),
		url('../fonts/DINPro/DINPro-CondensedRegular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/DINPro/DINPro-CondensedRegular.woff') format('woff'),
		url('../fonts/DINPro/DINPro-CondensedRegular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'DIN Pro Cond';
	src: url('../fonts/DINPro/DINPro-CondensedItalic.eot');
	src: local('../fonts/DINPro/DIN Pro Condensed Italic'), local('DINPro-CondensedItalic'),
		url('../fonts/DINPro/DINPro-CondensedItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/DINPro/DINPro-CondensedItalic.woff') format('woff'),
		url('../fonts/DINPro/DINPro-CondensedItalic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'DIN Pro Cond';
	src: url('../fonts/DINPro/DINPro-CondensedLightItalic.eot');
	src: local('../fonts/DINPro/DIN Pro Condensed Light Italic'), local('DINPro-CondensedLightItalic'),
		url('../fonts/DINPro/DINPro-CondensedLightItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/DINPro/DINPro-CondensedLightItalic.woff') format('woff'),
		url('../fonts/DINPro/DINPro-CondensedLightItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'DIN Pro Cond';
	src: url('../fonts/DINPro/DINPro-CondensedLight.eot');
	src: local('../fonts/DINPro/DIN Pro Condensed Light'), local('DINPro-CondensedLight'),
		url('../fonts/DINPro/DINPro-CondensedLight.eot?#iefix') format('embedded-opentype'),
		url('../fonts/DINPro/DINPro-CondensedLight.woff') format('woff'),
		url('../fonts/DINPro/DINPro-CondensedLight.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'DIN Pro';
	src: url('../fonts/DINPro/DINPro-BoldItalic.eot');
	src: local('../fonts/DINPro/DIN Pro Bold Italic'), local('DINPro-BoldItalic'),
		url('../fonts/DINPro/DINPro-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/DINPro/DINPro-BoldItalic.woff') format('woff'),
		url('../fonts/DINPro/DINPro-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}
